<br>
<br>

<div class="card">
	<h4 class="card-header">Please set your password</h4>
	<div class="card-body">

		<div class="container">
			<form class="form-signin" [formGroup]="form" (ngSubmit)="onSubmit()">
				<label class="sr-only">
					Username
				</label>

				<input
					[formControlName]="'username'"
					type="text" 
					class="form-control" 
					placeholder="Username" 
					autofocus>
				
				<label class="sr-only">
					Temporary Password
				</label>

				<input 
					[formControlName]="'temppassword'"
					type="password" 
					id="inputPassword" 
					class="form-control" 
					placeholder="Temp Password">

				<label for="inputPassword2" class="sr-only">
					New Password
				</label>

				<input 
					[formControlName]="'newpassword'"
					type="password" 
					id="inputPassword2" 
					class="form-control" 
					placeholder="New Password">

				<button 
					[disabled]="!form.valid"
					appShakeButton
					class="btn btn-lg btn-primary btn-block" 
					type="submit">
					Change Password
				</button>
			</form>
		</div>

	</div>
</div>