<nav class="navbar navbar-expand-lg navbar-light bg-light mb-1">
	<a class="navbar-brand" href="/">Static Page Constructor</a>
	<ul 
		*ngIf="isAuthenticated"
		class="navbar-nav mr-auto">
		<li class="nav-item">
			<a 
				class="nav-link" 
				[routerLink]="['/page-constructor']"
				routerLinkActive="active">
				Page Constructor
			</a>
		</li>

		<li class="nav-item">
			<a 
				class="nav-link" 
				[routerLink]="['/static-files']"
				routerLinkActive="active">
				Static Files
			</a>
		</li>
	</ul>

	<ul 
		*ngIf="isAuthenticated"
		class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" href="{{siteUrl}}" target="_blank">
				<i class="fa fa-external-link" aria-hidden="true"></i>
				View Site
			</a>
		</li>
	</ul>

	<ul 
		*ngIf="isAuthenticated"
		class="navbar-nav">
		<li 
			class="nav-item dropdown" 
			ngbDropdown
			placement="bottom-right">
			<button
				ngbDropdownToggle
				class="nav-link btn btn-link dropdown-toggle">
				{{ email }}
			</button>

			<div 
				ngbDropdownMenu
				class="dropdown-menu" >
				<!--<a class="dropdown-item" _routerLink="/users">Users</a>
				<div class="dropdown-divider"></div>-->
				<a class="dropdown-item" routerLink="/logout">Logout</a>
			</div>
		</li>
	</ul>
</nav>