<div class="modal-header">
	<h4 class="modal-title">Pick a Page</h4>
	
	<button 
		type="button" 
		class="close" 
		aria-label="Close" 
		(click)="activeModal.dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<form (ngSubmit)="onSubmit()" [formGroup]="form">
	<div class="modal-body">
		<div class="form-group">
			<div [formGroup]="form">
				<label for="widget">
					Page
				</label>

				<select
					[formControlName]="'page'"
					class="form-control">
					<option *ngFor="let p of pages" [ngValue]="p">{{p.name}}</option>
				</select>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button 
			type="button" 
			class="btn btn-outline-dark" 
			(click)="activeModal.dismiss()">
			Close
		</button>

		<button 
			[disabled]="!form.valid"
			type="submit" 
			class="btn btn-primary">
			Choose
		</button>
	</div>
</form>