<div 
	*ngFor="let prop of props" 
	class="form-group">
	<div [formGroup]="form">
		<label [attr.for]="prop.key">
			{{prop.desc}}
		</label>

		<div [ngSwitch]="true">

			<input 
				*ngSwitchCase="isText(prop)"
				[formControlName]="prop.key"
				type="text"
				class="form-control"/>

			<textarea
				*ngSwitchCase="isTextarea(prop)"
				[formControlName]="prop.key" 
				class="form-control"></textarea>

			<input 
				*ngSwitchCase="isEmail(prop)" 
				[formControlName]="prop.key"
				type="email"
				class="form-control" />

			<input 
				*ngSwitchCase="isNumber(prop)" 
				[formControlName]="prop.key"
				type="number"
				class="form-control" />

			<app-prop-type-link
				*ngSwitchCase="isLink(prop)"
				[formGroup]="form"
				[prop]="prop">
			</app-prop-type-link>

		</div>
	</div>
</div>
