<div class="card">
	<div class="card-header">
		<ul class="nav nav-tabs card-header-tabs">
			<li class="nav-item">
				<a 
					class="nav-link" 
					href="javascript:void(0);"
					[ngClass]="{'active': view == 'structure'}"
					(click)="view = 'structure'">
					Structure
				</a>
			</li>
			<li class="nav-item">
				<a 
					class="nav-link" 
					href="javascript:void(0);"
					[ngClass]="{'active': view == 'content'}"
					(click)="view = 'content'">
					Content
				</a>
			</li>
			<li class="nav-item">
				<a 
					class="nav-link" 
					href="javascript:void(0);"
					[ngClass]="{'active': view == 'pageProps'}"
					(click)="view = 'pageProps'">
					Page Properties
				</a>
			</li>
		</ul>
		<div style="position: absolute; right: 10px; top: 10px">
			<button 
				class="btn btn-link btn-sm" 
				(click)="openCreateWidgetWindow()">
				Add Widget
			</button>

			<button 
				class="btn btn-link btn-sm"
				(click)="savePage()">
				Save page
			</button>

			<button 
				class="btn btn-link btn-sm"
				(click)="publishPage()">
				Publish page
			</button>

			<a 
				class="btn btn-link btn-sm"
				target="_blank" 
				href="http://bootstrap-marketing-site.s3-website-eu-west-1.amazonaws.com/{{page.slug}}.html">
				<span class="oi oi-external-link"></span>
				View page
			</a>

			<button 
				class="btn btn-danger btn-sm"
				(click)="removePage()">
				<span class="oi oi-delete"></span>
			</button>
		</div>
	</div>

	<div class="card-body" [hidden]="view == 'pageProps'">
		<div 
			[ngClass]="{'list-group': view == 'structure'}"
			[sortablejs]="page.configuration">
			<app-widget-placeholder
				*ngFor="let widget of page.configuration; let i = index"
				[structuralView]="view == 'structure'"
				[widgetConfiguration]="widget"
				[page]="page"
				[index]="i"
				[ngClass]="{'list-group-item': view == 'structure'}">
			</app-widget-placeholder>
		</div>

		<div 
			class="alert alert-warning" 
			role="alert" 
			*ngIf="!page.configuration.length">
			No widgets yet
		</div>

	</div>

	<div class="card-body" [hidden]="view !== 'pageProps'">
		<app-page-props [page]="page"></app-page-props>
	</div>
</div>