<div style="position: absolute; right: 20px; top: 5px">
	<button 
		class="btn btn-link btn-sm" 
		(click)="openCreateWidgetWindow()">
		Add Widget
	</button>

	<button 
		class="btn btn-link btn-sm"
		(click)="savePage()">
		Save page
	</button>

	<button 
		class="btn btn-link btn-sm"
		(click)="publishPage()">
		Publish page
	</button>

	<a 
		class="btn btn-link btn-sm"
		target="_blank" 
		href="{{page.url}}">
		<i class="fa fa-external-link" aria-hidden="true"></i>
		View page
	</a>

	<button 
		class="btn btn-link btn-sm text-danger"
		(click)="removePage()">
		<i class="fa fa-trash" aria-hidden="true"></i>
	</button>
</div>

<ul class="nav nav-tabs mb-4" role="tablist">
	<li class="nav-item">
		<a 
			class="nav-link" 
			href="javascript:void(0);"
			[ngClass]="{'active': view == 'structure'}"
			(click)="view = 'structure'">
			Structure
		</a>
	</li>
	<li class="nav-item">
		<a 
			class="nav-link" 
			href="javascript:void(0);"
			[ngClass]="{'active': view == 'content'}"
			(click)="view = 'content'">
			Content
		</a>
	</li>
	<li class="nav-item">
		<a 
			class="nav-link" 
			href="javascript:void(0);"
			[ngClass]="{'active': view == 'pageProps'}"
			(click)="view = 'pageProps'">
			Page Properties
		</a>
	</li>
</ul>

<div class="tab-content">
	<div class="tab-pane show active" [hidden]="view == 'pageProps'">
		<div 
			[ngClass]="{'list-group': view == 'structure'}"
			[sortablejs]="page.configuration">
			<app-widget-placeholder
				*ngFor="let widget of page.configuration; let i = index"
				[structuralView]="view == 'structure'"
				[widgetConfiguration]="widget"
				[page]="page"
				[index]="i"
				[ngClass]="{'list-group-item': view == 'structure'}">
			</app-widget-placeholder>
		</div>
	</div>

	<div class="tab-pane show active" [hidden]="view !== 'pageProps'">
		<app-page-props [page]="page"></app-page-props>
	</div>
</div>