<div *ngIf="widgetDefinition">
	<div
		[hidden]="!structuralView"
		[ngSwitch]="widgetDefinition.layout.type">

		<app-row-layout-structure-view
			*ngSwitchCase="'row'"
			[widgetDefinition]="widgetDefinition"
			[widgetConfiguration]="widgetConfiguration"
			[page]="page">
		</app-row-layout-structure-view>

		<app-structure-view
			*ngSwitchDefault
			[widgetDefinition]="widgetDefinition"
			[widgetConfiguration]="widgetConfiguration"
			[page]="page">
		</app-structure-view>

	</div>

	<div 
		[hidden]="structuralView"
		[ngSwitch]="widgetDefinition.layout.type">

		<app-row-layout-content-view
			*ngSwitchCase="'row'"
			[widgetDefinition]="widgetDefinition"
			[widgetConfiguration]="widgetConfiguration"
			[page]="page">
		</app-row-layout-content-view>

		<app-content-view 
			*ngSwitchDefault
			[widgetDefinition]="widgetDefinition"
			[widgetConfiguration]="widgetConfiguration"
			[page]="page">
		</app-content-view>

	</div>
</div>

<div *ngIf="!widgetDefinition">
	Loading...
</div>