<div class="file-box">
    <div class="file">
        <a [href]="file.Url">
            <span class="corner"></span>
            <div class="icon" [ngSwitch]="true">
                <img 
                    alt="image" 
                    class="img-responsive" 
                    [src]="file.Url"
                    *ngSwitchCase="file.Ext == 'jpg' || file.Ext == 'png' || file.Ext == 'gif'">

                <i 
                    class="fa fa-music"
                    *ngSwitchCase="file.Ext == 'mp3'"></i>

                <i 
                    class="fa fa-film"
                    *ngSwitchCase="file.Ext == 'mpg4' || file.Ext == 'avi'"></i>

                <i 
                    class="fa fa-bar-chart-o"
                    *ngSwitchCase="file.Ext == 'xls'"></i>

                <i 
                    class="fa fa-file-pdf-o"
                    *ngSwitchCase="file.Ext == 'pdf'"></i>

                <i 
                    class="fa fa-file"
                    *ngSwitchCase="file.Ext == 'doc' || file.Ext == 'docx'"></i>

                <i 
                    class="fa fa-file"
                    *ngSwitchDefault></i>
            </div>
            <div class="file-name">
                {{ file.Name }}
                <br>
                <small>
                    {{ file.LastModified| date }}
                </small>
            </div>
        </a>
    </div>
</div>