<div class="row">
    <div class="col-md-3">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="file-manager">
                    <app-search-input></app-search-input>

                    <h5 class="mt-3">Show:</h5>

                    <app-file-control class="mb-2"></app-file-control>

                    <div class="hr-line-dashed"></div>

                    <label class="btn btn-primary btn-file btn-block">
                        Upload Files
                        <input 
                            (change)="onFileUploadChange($event)"
                            [accept]="accept"
                            type="file"
                            style="display: none;"
                            multiple>
                    </label>

                    <div class="hr-line-dashed"></div>
                    
                    <!--
                    <h5>Folders</h5>
                    <ul class="folder-list" style="padding: 0">
                        <li><a href=""><i class="fa fa-folder"></i> Files</a></li>
                        <li><a href=""><i class="fa fa-folder"></i> Pictures</a></li>
                        <li><a href=""><i class="fa fa-folder"></i> Web pages</a></li>
                        <li><a href=""><i class="fa fa-folder"></i> Illustrations</a></li>
                        <li><a href=""><i class="fa fa-folder"></i> Films</a></li>
                        <li><a href=""><i class="fa fa-folder"></i> Books</a></li>
                    </ul>

                    <h5 class="tag-title">Tags</h5>
                    <ul class="tag-list" style="padding: 0">
                        <li><a href="">Family</a></li>
                        <li><a href="">Work</a></li>
                        <li><a href="">Home</a></li>
                        <li><a href="">Children</a></li>
                        <li><a href="">Holidays</a></li>
                        <li><a href="">Music</a></li>
                        <li><a href="">Photography</a></li>
                        <li><a href="">Film</a></li>
                    </ul>
                    -->

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <app-file-box 
                    *ngFor="let file of files"
                    [selectFileMode]="selectFileMode"
                    (fileSelected)="onFileSelected($event)"
                    [file]="file">
                </app-file-box>
            </div>
        </div>
    </div>
</div>