<div class="row">
	<div class="col-2">
		<div class="card">
			<div class="card-header">
				Pages
			</div>
			<div class="card-body">
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link active" href="#">Active</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-8">
	</div>
	<div class="col-2">
		<div class="card">
			<div class="card-header">
				Properties
			</div>
			<div class="card-body">
			</div>
		</div>
	</div>
</div>